<!DOCTYPE html>
<html lang="{{.Locale}}">

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  {{.Favicon}}
  <link rel="manifest" href="/manifest.json" crossOrigin="use-credentials">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  <meta name="color-scheme" content="light dark" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, viewport-fit=cover">
  <link rel="preload" href="//{{.Domain}}/assets/fonts/Lato-Bold.immutable.woff2" as="font" type="font/woff2"
    crossorigin>
  <link rel="preload" href="//{{.Domain}}/assets/fonts/Lato-Regular.immutable.woff2" as="font" type="font/woff2"
    crossorigin>
  <% _.forEach(htmlWebpackPlugin.files.css, function(file) { %>
    <link rel="stylesheet" href="<%- file %>">
    <% }); %>
      <link rel="stylesheet" href="//{{.Domain}}/assets/fonts/fonts.css">
      {{.ThemeCSS}}
</head>

<body style="display: block;margin: 0">
  <% if (__SIMULATE_FLAGSHIP__) { %>
  <div style="position:absolute; z-index: 1000; height: 100%; width: 100%; background-color: blue; opacity: 0.5;" id="splashscreen">splashscreen</div>
  <% }; %>
  <div role="application" data-cozy="{{.CozyData}}" data-cozy-token="{{.Token}}" data-cozy-domain="{{.Domain}}"
    data-cozy-locale="{{.Locale}}" data-cozy-app-editor="{{.AppEditor}}" data-cozy-app-name="{{.AppName}}"
    data-cozy-app-name-prefix="{{.AppNamePrefix}}" data-cozy-app-slug="{{.AppSlug}}" data-cozy-tracking="{{.Tracking}}"
    data-cozy-icon-path="{{.IconPath}}" data-cozy-subdomain-type="{{.SubDomain}}"
    data-cozy-default-wallpaper="{{.DefaultWallpaper}}" data-cozy-flags="{{.Flags}}">
    <% _.forEach(htmlWebpackPlugin.files.js, function(file) { %>
      <% if (process.env.NODE_ENV==='development' ) { %>
        <script src="<%- file %>?cacheBuster=<%= Date.now() %>"></script>
        <% } else { %>
          <script src="<%- file %>"></script>
          <% } %>
            <% }); %>
</body>

</html>
