
{{#extend "bank-layout"}}
  {{#content "emailTitle"}}
    {{t 'Notifications.if-balance-lower.email.innerTitle'}}
  {{/content}}
  {{#content "emailSubtitle"}}
    {{ formatDate date }}
  {{/content}}

  {{#content "content"}}
    {{#each institutions as |institution| }}
      <mj-section css-class="account" padding-top="0" padding-bottom="10px">
        <mj-column>
          <mj-text padding-top="0" padding-bottom="0">
            <h3 class='js-institution'>
              {{ institution.name }}
            </h3>
          </mj-text>
          {{#each institution.accounts as |account|}}
            <mj-table>
              <tr class="js-account tableRow">
                <td>
                  <a href="{{ ../../balancesUrl }}">
                  {{ capitalize this.label }}
                  </a>
                </td>
                <td width="150px" align='right'><span>{{ colored (getAccountBalance this) }}</span></td>
              </tr>
            </mj-table>
              {{#unless @last}}<mj-divider padding-bottom="0" padding-top="0" border-width="1px" border-color="#ececec" />{{/unless}}
          {{/each }}
          {{#unless @last}}
            <mj-divider padding-bottom="8px" padding-top="8px" border-width="1px" border-color="#d6d8da" />
          {{/unless}}
        </mj-column>
      </mj-section>
    {{/each}}
    <mj-section>
      <mj-column>
        <mj-text>
          <a href="{{ balancesUrl }}">{{t 'Notifications.if-balance-lower.email.access-accounts'}}</a>
        </mj-text>
      </mj-column>
    </mj-section>
  {{/content}}
{{/extend}}
